.claudette {
  max-width: 948px;
  background-color: black;
  text-align: center;
  padding-bottom: 170px;
}

.claudette__pic {
  width: 100%;
}

.claudette__h2 {
  font-size: 68px;
  color: white;
  line-height: 0.912;
  text-transform: uppercase;
  padding: 53px 0 0 0;
  margin: 0 auto;
  text-align: center;
}

.claudette__h2_black {
  color: black;
}

.claudette__h2_img {
  padding-top: 0;
}

.claudette__h3 {
  text-transform: uppercase;
  color: white;
  font-size: 31px;
  line-height: 1;
  margin: 0 auto 20px auto;
  width: 85%;
}

.claudette__text {
  font-size: 31px;
  color: white;
  line-height: 35px;
  width: 90%;
  margin: 0 auto;
}

.claudette__pic-center {
  max-width: 90%;
}

.claudette__note {
  text-transform: uppercase;
  font-size: 26px;
  text-align: left;
  color: white;
  padding: 47px 0 40px 58px;
}

.claudette__btn {
  font-weight: 500;
  text-transform: uppercase;
  padding: 13px 85px;
  color: white;
  border: 2px solid white;
  display: inline-block;
  text-decoration: none;
  line-height: 1;
  margin: 32px 0;
  font-size: 20px;
}

.claudette__btn:hover {
  color: white;
  text-decoration: none;
}

.claudette__products {
  background-color: white;
}

.claudette__products-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 35px;
  margin-bottom: 0;
  padding: 0 15px 0 15px;
}

.claudette__product {
  list-style: none;
  width: 33.33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

.claudette__product-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 24px;
}

.claudette__product-block {
  padding-top: 12px;
  position: relative;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.claudette__product-block::before {
  position: absolute;
  content: '';
  width: 95%;
  height: 2px;
  left: 0;
  top: 0;
  background-color: black;
}

.claudette__product-title {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1;
  width: 90%;
}

.claudette__product-btn {
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: underline;
}

.claudette__product-whitebtn {
  color: white;
  font-size: 20px;
  font-weight: 500;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 35px 0 88px 0;
}

.claudette__photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.claudette__photo {
  width: 50%;
}

.claudette__photo-pic {
  width: 100%;
}

.claudette__title {
  font-size: 50px;
  text-transform: uppercase;
  line-height: 0.9;
  color: white;
  text-align: center;
  background: url("../img/bg5.png") no-repeat center center/cover;
  padding: 40px 0 50px 0;
}

.claudette__video {
  max-width: 720px;
  width: 100%;
}

.claudette__title1 {
  font-size: 50px;
  text-transform: uppercase;
  line-height: 0.9;
  color: white;
  text-align: center;
  padding: 88px 0 25px 0;
  width: 95%;
  margin: 0 auto;
}

@media (max-width: 660px) {
  .claudette__title1 {
    font-size: 36px;
  }
}

@media (max-width: 580px) {
  .claudette {
    padding-bottom: 80px;
  }

  .claudette__h2 {
    font-size: 44px;
  }

  .claudette__h3 {
    font-size: 30px;
  }

  .claudette__text {
    font-size: 26px;
  }

  .claudette__products-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .claudette__product {
    width: 70%;
  }

  .claudette__product-whitebtn {
    margin: 26px 0 60px 0;
  }

  .claudette__title {
    font-size: 40px;
  }

  .claudette__title1 {
    font-size: 30px;
    padding: 60px 0 20px 0;
  }
}

@media (max-width: 420px) {
  .claudette__h2 {
    font-size: 32px;
    padding: 30px 0 0 0;
  }

  .claudette__h3 {
    font-size: 20px;
    padding: 15px 0 0 0;
  }

  .claudette__text {
    font-size: 20px;
    line-height: 20px;
  }

  .claudette__note {
    font-size: 22px;
    padding: 47px 0 40px 30px;
  }

  .claudette__title {
    font-size: 28px;
  }

  .claudette__title1 {
    font-size: 26px;
  }
}

@media (max-width: 380px) {
  .claudette__h2 {
    font-size: 26px;
  }

  .claudette__h3 {
    font-size: 22px;
  }

  .claudette__text {
    font-size: 18px;
  }

  .claudette__btn {
    padding: 13px 75px;
  }

  .claudette__title {
    font-size: 22px;
  }

  .claudette__title1 {
    font-size: 20px;
  }
}

.webp .claudette__title { background: url(../img/bg5.webp) no-repeat center center/cover; }